@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#toggle .lighttheme,
#toggle .darktheme {
	display: none;
}

[data-theme="lighttheme"] #toggle .lighttheme {
	display: inline;
}

[data-theme="darktheme"] #toggle .darktheme {
	display: inline;
}