@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


#toggle .lighttheme,
#toggle .darktheme {
	display: none;
}

[data-theme="lighttheme"] #toggle .lighttheme {
	display: inline;
}

[data-theme="darktheme"] #toggle .darktheme {
	display: inline;
}

@responsive {
	.text-shadow {
	  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
	}
  
	.text-shadow-md {
	  text-shadow: 0 4px 8px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.08);
	}
  
	.text-shadow-lg {
	  text-shadow: 0 15px 30px rgba(0,0,0,0.11), 0 5px 15px rgba(0,0,0,0.08);
	}
  
	.text-shadow-none {
	  text-shadow: none;
	}
  }

.fade-in {
	animation: fadeIn 3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}